<div class="container-fluid">
	<div class="row header">
		<div class="background" all-colls="12">	
			<div class="wrapper">
				<div class="logo rotate15">
					<span>JS </span><span> NOW</span>
				</div>
				<div class="title">
					Learn yourself some angularjs!!!
				</div>	
				<div class="share-group pull-right">
				<label>Share: </label>
					<a class="btn btn-social-icon btn-twitter">
						<i class="fa fa-twitter"></i>
					</a>								
					<a class="btn btn-social-icon btn-facebook">
						<i class="fa fa-facebook"></i>
					</a>								
					<a class="btn btn-social-icon btn-google">
						<i class="fa fa-google-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


