<div class="well unselectable">
	<div class="page-header">
		<h1>Wellcome to JSNow</h1>
	</div>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">What are you going to find here?</div>		
		<!-- List group -->
		<ul class="list-group">
			<li class="list-group-item">Getting started with angularjs</li>
			<li class="list-group-item">Controllers</li>
			<li class="list-group-item">Directives</li>
			<li class="list-group-item">Services</li>
			<li class="list-group-item">Filters</li>
			<li class="list-group-item">Routing</li>
			<li class="list-group-item">Advanced Routing</li>
			<li class="list-group-item">SEO Optimisations</li>
		</ul>

	</div>
	<p>In one sentece: 'All you need to build your first website using angularjs'</p>	
</div>