@font-face {
    font-family: LogoFont;
    src: url(planetbe.ttf);
}
@font-face {
	font-family: TitleFont;
	src: url(Alien-Encounters-Regular.ttf);
}
*[full-h]{
	height:100%;
}
.txt-white{
	color:white;
}
.unselectable{
    -moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	cursor: default;
}
body{
	background: #355;
}
.fl {float: left;}
.ib, .logo, .share-group, .title {display: inline-block;}
.header .title{
	font-family: TitleFont;
	font-size: 2em;	
	color: darkslategrey;
	position: absolute;
	line-height: 4em;
  	margin-left: 2em;
  	white-space: nowrap;
}
.rotate15{
	-webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.logo{
	font-size: 5em;
	font-family: LogoFont;		
	border: 10px solid darkgrey;
	border-radius: 50%;
	margin-top: 15px;
	color: oldlace;
	background-color: darkslategrey;
}
.row.header{
	background-color: #10cfbd;
}
.header .background{
	height:100px;		
	background-color: #090909; /*darkgoldenrod; */
}

.navigation{
	padding-left: 300px;
	height:60px;
	background-color: #333;
}
.menu-button{
	height:100%;
	display: inline-block;
	width:100px;
	background: #090909;
	color: darkslategrey;
	font-weight: bolder;
	border: 1px solid darkgrey;
  	box-shadow: 0px 0px 5px white;
  	border-radius: 50%;
}
.menu-button:hover{
	box-shadow: 0px 0px 10px white;
	color:white;
}
.add-container{
	width:100%;
	height: 600px;
    border: 1px solid black;
    max-width: 300px;
    display: inline-block;
}
.main-container{
	padding-top:30px;
}
